<article class="bcls-article">
  <h1>Entraînement</h1> <summary>Cours de formation et vidéos à la demande.</summary> <a href="/get-started/training/register-training.html">
    <h4>&nbsp;&nbsp;&nbsp;S'inscrire à une formation dirigée par un instructeur</h4>  </a><section class="bcls-section">
    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>Général</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col">
            <h4>Cloud vidéo</h4>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="/get-started/training/online-training-courses.html">Cours de formation en ligne</a></li>
              <li><a href="/get-started/training/brightcove-university.html">Cours de Brightcove University</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://studio.support.brightcove.com/get-started/training/training-demand-video-cloud-basics.html">Les bases de Video Cloud</a></li>
              <li><a href="https://studio.support.brightcove.com/get-started/training/training-demand-introduction-video-cloud.html"> Présentation de Video Cloud</a></li>
              <li><a href="https://studio.support.brightcove.com/get-started/training/training-demand-introduction-video-cloud-analytics.html"> Présentation de Video Cloud Analytics</a></li>
              <li><a href="https://studio.support.brightcove.com/get-started/training/video-cloud-studio-training-videos.html">Vidéos de formation Video Cloud Studio</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>Galerie</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          <th width="49%" scope="col">
            <h4>Développement du lecteur Brightcove</h4>
          </th>
        </tr>
        <tr>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://gallery.support.brightcove.com/get-started/training/training-demand-introduction-gallery.html">Présentation de la galerie</a></li>
              <li><a href="https://gallery.support.brightcove.com/get-started/training/training-demand-building-portal-experiences-using-gallery.html">Créer des expériences sur le portail avec Gallery</a></li>
              <li><a href="https://gallery.support.brightcove.com/get-started/training/training-demand-building-page-experiences-using-gallery.html">Créer des expériences in-page à l'aide de Gallery</a></li>
              <li><a href="https://gallery.support.brightcove.com/get-started/training/gallery-training-videos.html">Galerie de vidéos de formation</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://player.support.brightcove.com/training/developer-basics-videos.html">Vidéos de base pour développeurs</a></li>
              <li><a href="https://player.support.brightcove.com/training/training-demand-developing-brightcove-player.html"> Développement avec le lecteur Brightcove</a></li>
              <li><a href="https://apis.support.brightcove.com/player-management/getting-started/training-demand-quick-start-player-management.html">Démarrage rapide de la gestion des lecteur
s</a></li>
              <li><a href="https://player.support.brightcove.com/training/player-development-training-videos.html">Vidéos de formation au développement des lecteur
s</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" border="0">
      <tbody>
        <tr>
          <th width="50%" scope="col">
            <h4>Développement du SDK</h4>
          </th>
          <th width="1%" scope="col">&nbsp;</th>
          {% if site.product_short == Beacon Classic-fr/ %}
          <th width="49%" scope="col">
            <h4>Phare Brightcove</h4>
          </th>
          {% endif %}
        </tr>
        <tr>
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://sdks.support.brightcove.com/getting-started/brightcove-native-sdks-training-videos.html">Vidéos de formation aux SDK natifs Brightcove</a></li>
            </ul>
          </td>
          <td>&nbsp;</td>
          {% if site.product_short == Beacon Classic-fr/ %}
          <td valign="top">
            <ul class="bcls-topic-list">
              <li><a href="https://beacon.support.brightcove.com/training/index.html">Formation Beacon à la demande</a></li>
            </ul>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>  </section></article>